absl-py>=1.4.0
bleach>=6.1.0
decorator>=5.1.1
gast>=0.6.0
grpcio>=1.60.0
html5lib>=1.1
Markdown>=3.6
networkx>=2.8,<3.0
numpy>=1.26
protobuf>=4.25.3
scikit-learn>=1.5
scipy>=1.14
six>=1.16
tensorboard>=2.16
tensorflow>=2.16
termcolor>=2.3.0
Werkzeug>=3.0.3
